  .input-button
    display: flex
    justify-content: center
    border: 1px solid #e6d9d9
    border-radius: 5px
    box-shadow: inset 0 0 1px #d4cbe0
    padding: 5px
    outline: none
  .input-button::placeholder /* Chrome/Opera/Safari */
    text-align: center
    transition: 0.5s ease

  .input-button:focus::placeholder
      text-align: left