time = 0.7s
.board
  overflow: auto
  box-sizing: border-box
  padding: 20px
  height: 100vh
  position: absolute
  width: 100%
  background-color: transparent
  transition: transform time, opacity time
  transition-timing-function: ease-in-out